/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
ul, ol {
  list-style: none;
}
body {
  overflow: hidden;
}

/* header */
header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid rgba(255, 255, 0, 0.6);
  /* z-index를 적용할 때는
  position이 static이면 안된다. */
  z-index: 100;
  position: relative;
}
header h1 {

}
header h1 a {

}

/* menu */
header #menu {
  display: flex;
}
header #menu li {
  margin: 0 1rem;
}
header #menu li a {

}

/* sns */
header .sns {
  display: flex;
}
header .sns li {
  margin: 0 0.5vw;
}
header .sns li a {
  color: black;
}
header .sns li a i {

}

/* MAIN */
main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
main video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main article {
  position: absolute;
  left: 6vw;
  top: 40%;
}
main article p {
  font-size: 4vw;
}

/* footer */
footer {
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
}